page-message {
    .header-ios .toolbar-ios-primary .toolbar-background-ios {
        border-color: #488aff;
    }
    .header-ios .toolbar-ios-secondary .toolbar-background-ios {
        border-color: #32db64;
    }
    .header-ios .toolbar-ios-danger .toolbar-background-ios {
        border-color: #f53d3d;
    }
    .header-ios .toolbar-ios-light .toolbar-background-ios {
        border-color: #f4f4f4;
    }
    .header-ios .toolbar-ios-dark .toolbar-background-ios {
        border-color: #222;
    }
}
