page-home {
    .brand { height: 44px; margin-top: 5px; }
    .banner {
        height: 200px;
        margin-bottom: 10px;
    }
    .news { padding:16px; margin-bottom: 10px; }
    .news .news-title {
        font-weight: bold;
        margin-bottom: 5px;
    }
    .news .icon {
        margin-right: 8px;
    }
    .news .news-items {
        position: relative;
        padding: 15px 0 15px 30px;
        border-bottom: 1px solid #f4f4f4;
        color: #343434;
    }
    .news-items:last-child {
        border-bottom: 0px;
    }
    .news .news-items-icon {
        position: absolute;
        left: 0px;
    }
    .news .news-items-text {

    }
    .news .news-more {
        text-align: right;
        padding-top: 15px;
    }
}
